<div class="flex flex-row justify-center items-center">
<div class="p-10 bg-white border border-grey-light rounded">
<%= form_with(model: employee, local: true, class: "employee-form") do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="mb-4">Employee Information</h3>

  <div class="mb-6">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input", required: true %>
  </div>

  <div class="mb-6">
  <%= form.label :position, class: "label" %>
  <%= form.text_field :position, class: "input", required: true %>
</div>

<div class="mb-6">
<%= form.label :availability, class: "label" %>
<%= form.text_field :availability, class: "input", required: true %>
</div>

<div class="flex flex-row justify-center items-center">
<%= form.submit class: "py-2 px-14 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200" %>
</div>
  
<% end %>
</div>
</div>