<div class="flex flex-row justify-center items-center">
<div class="p-10 bg-white border border-grey-light rounded">
<%= form_with(model: event, local: true, class: "event-form") do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="mb-4">Event Information</h3>

  <div class="mb-6">
    <%= form.label :city, class: "label" %>
    <%= form.text_field :city, class: "input" %>
  </div>

  <div class="flex flex-row justify-center items-center">
    <%= form.submit class: "py-2 px-14 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200" %>
  </div>
  <% end %>
</div>
</div>