<%= link_to "#all-shifts", class: "tab flex items-center" do %>
  All shifts
<% end %>

<div class="flex justify-center items-center">

<h1>Only want to see a specific employees shifts? Type their name in here!</h1>
</div>

<div class="flex justify-center items-center">
<br>
<div>
<%= form_tag shifts_path, class: 'navbar-form navbar-left', role: 'search', method: :get do |f| %>
  
  <table>
    <tr>
      <td>  <%= text_field_tag :term, params[:term], class: 'input' %>
      </td>

      <td>
      <%= button_tag "Search", class: 'btn btn-default', name: nil %>

      </td>
    </tr>
  </table>
  </div>

  <% end %>
</div>

<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Start time
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                End time
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">


          <% shifts.each do |shift| %>

            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900"><%= link_to shift.name, shift %> </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900"><%= readable_time(shift.start_time) %></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500"><%= readable_time(shift.end_time) %></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <%= link_to 'Edit', edit_shift_path(shift) %>
              </td>

              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <%= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>

            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
       
    </div> 
  </div>
</div>



