<%= link_to 'Add a new shift', new_shift_path, class: "tab flex items-center"%> 
<%= link_to "#all-employees", class: "tab flex items-center" do %>
Shift Calendar
<% end %>


<div class="bg-white p-10 border rounded">
  <div id="all-shifts" class="tab-panel">

     <% shifts.each do |shift| %>
        <div class="flex flex-wrap items-center justify-start p-4 border-b border-grey-light mb-6">
          <div class="flex-1 flex justify-between">
            <div>
              <%= link_to shift.name, shift, class: "link mr-4" %>
            </div>
            <div>
              <%= readable_time(shift.start_time) %> &ndash;
              <%= readable_time(shift.end_time) %>
            </div>
          </div>
        </div>

        <%= link_to "Cancel Shift", shift, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-destroy ml-4" if admin? %>
     <% end %>
  </div>

  <div id="calendar" class="tab-panel active">
    <h2>Calendar</h2>
    <div id="shift-calendar">
      <%= render "calendar", shifts: shifts  %>
    </div>
  </div>
</div>
